<h1>Post non Attivi!</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  <!-- card -->
  <div *ngFor="let post of postArr" class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ post.tags[0] }}</li>
          <li class="list-group-item">{{ post.tags[1] }}</li>
          <li class="list-group-item">{{ post.tags[2] }}</li>
        </ul>
      </div>
      <div class="card-body">
        <a class="btn btn-primary" [routerLink]="['/detail', post.id]"
          >Dettagli</a
        >
      </div>
    </div>
  </div>
</div>
